.agentList {
    flex: 4;
  }
  
  .agentListUser {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .agentListImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .agentConvertPlayer{
      border: none;
      border-radius: 10px;
      padding: 5px 10px;
      background-color: #3bb077;
      color: white;
      cursor: pointer;
      margin-right: 20px;
  }
  .agentListDetail{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #9b42be;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}
  
  .agentListDelete{
      color: red;
      cursor: pointer;
  }
  .contactOne{
     
    display: flex;
    align-items: center;
      
  }
  .contactTwo{
     
    display: flex;
    align-items: center;
    margin-left: 80px;

    
      
  }
  .agentId{
     
  }
  .agentListStatus{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 20px;
    margin-left: 5px;
    width: 55px;
    height: 25px;

  
  }